<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/estilo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,400;1,500;1,800&display=swap" />
  <title>Document</title>
</head>

<body>
  <section class="grid grid-template">
    <img class="fundo" src="/imagens/geral.png">
    <div class="item wpp"><img src="/imagens/whatsapp.png">
      <div class="item tel">
        <p class="texto">Chama aqui</p>
        <p class="numero">54 99637 6693</p>
      </div>
    </div>
    <div class="item logotipo"><img src="/imagens/MicrosoftTeams-image_(10).png"></div>
    <div class="item carro"><img class="car" src="/imagens/a301fa1040dff741e8cf046d81d28889_big.jpeg"></div>
    <div class="item valor">
      <h2>Apenas</h2>
      <p><span>R$ </span>458.000</p>
    </div>
    <div class="item assinatura">
      <p>Rua sapucaia 1454, Caxias do sul - 95097-260 </p>
      <p>www.carrosmultimarcasanserragaucha.com.br</p>
    </div>
    <div class="item modelo info" id="info">
      <p class="ano">2023</p>
    
      <p class="nomemodelo">L200 TRITON TOP, DIESEL, IMPECAVEL </p>

      <div class="combustivel">ALCOOL+GASOLINA+GNV SEMI-AUTOMÁTICO 500.000 KM</div>
    </div>
  </section>
</body>

</html>